.search-input{
    border-radius: 5px;
}
.right-head{
    float: right;
}
.content{
    padding: 20px;
    border: 2px solid red;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}
body{
    width: 100%;
}