.nav-head {
  display: flex;
  flex-direction: column;
}
.nav-head a {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
  margin: 10px 0;
}
.nav-head span {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
  margin-left: 10px;
}
.nav-head img {
  width: 50%;
}
.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
@media (max-width: 767px) {
  .nav-head a span,
  .nav-head a img {
    display: none;
  }
}
.hidden {
  display: none;
}
/* .nav-head a img {
  display: none;
} */
