#tableSearch {
    width: 100%;
}

.search-input {
    border: 0;
}

.search-span {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}
.img_product{
    width: 60px;
    border-radius: 10px;
}