.content-user{
    margin: 0 20px;
    background-color: rgb(205, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}
.card-info{
    border: 5px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
}
.img-card{
    width: 100px;
    background-color: gray;
    padding: 10px;
    border-radius: 50%;
}
.card-body{
    background-color: rgb(223, 229, 224);
    /* background-color: pink; */
    padding: 20px;
}
